$almost-black: rgba($color: #000000, $alpha: 0.9);
$almost-white: rgba($color: white, $alpha: 0.9);
$light-gray: #3C3C3C;
$very-green: rgba($color: #00FF00, $alpha: 0.9);
$dark-yellow: #FABB00;
$dark-green: #16451B;